<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <title>About Personal Blog</title>
  </head>
  <body class="aboutBlog_body">
    <h1>Personal Blog</h1>
    <div class="navbar_main">
      <a class="active">About</a>
      <a href="/blog">Today's Feed</a>
      <a href="/my_blog">My Blog</a>
    </div>
    <div class="aboutBlog_contents">
    <div class="aboutBlog_desc">
      <h2 style="color: white;">What is Personal Blog?</h2>
      <p style="  color: rgb(223 161 161);
">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
    <div>
      <h2 style="color: white;">Time waits for no one. Start creating a blog today!</h2>
      <a class="create_btn_frm_about" href="/new_blog">
        Create one now!
      </a>
    </div>
    </div>
  </body>
</html>
