<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Blog Not Found</title>
  </head>
  <body style="background-color: #f5efd7;">
    <h1 style="font-family: 'Courier New', Courier, monospace; text-align: center;">Blog Not Found &#128169</h1>
  </body>
</html>
