<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />

    <title>Personal Blog</title>
  </head>
  <body class="cardTest_body">
    <h1>Personal Blog</h1>
    <div class="navbar_main">
      <a href="/about_blog">About</a>
      <a class="active">Blog</a>
    </div>
    <div class="grid-container">
      <% diaryContents.forEach(diaryContent => { %>
      <div class="grid-container-card">
        <% if (diaryContent.blob_img) { %> <% image =
        diaryContent.blob_img.toString("base64"); %>
        <img src="data:image/jpg;base64,<%= image %>" class="blog_card_image" />
        <% } else { %>
        <img src="images/missing_img.jpg" class="blog_card_image" />
        <% } %>
        <a href="/diary/<%= diaryContent.id %>" class="links_decoration"
          ><b style="font-size: 20px; font-family: 'Inter'"
            ><%= diaryContent.title %></b
          >
        </a>
        <p style="font-family: 'Inter'"><%= diaryContent.content_desc %></p>
      </div>
      <% }) %>
    </div>
    <br />
    <br />
    <a href="/new_blog">
      <p
        style="font-family: 'Inter'; font-size: 25px; padding-bottom: 10%"
        class="links_decoration"
      >
        Add a new blog today!
      </p>
    </a>
  </body>
</html>
