<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Update Diary</title>
  </head>
  <body class="updateDiary_body">
    <h1>Update Diary:</h1>
    <form method="post" action="/diary/<%= diaryContent[0].id %>/update">
      <label style="font-weight: bold" for="diary_title">Title:</label>
      <br />
      <textarea type="text" id="diary_title" name="title">
<%= diaryContent[0].title %></textarea
      >
      <br />
      <br />
      <label style="font-weight: bold" for="diary_content"
        >What's up today?</label
      >
      <br />
      <textarea type="text" id="diary_content" name="content">
<%= diaryContent[0].content_desc %></textarea
      >
      <br />
      <button type="submit" onclick="currentDiaryValues()" id="updateBtn">
        Update diary
      </button>
    </form>
  </body>
  <script type="text/javascript">
    //used to get the current values of what user updates
    var title = document.getElementById("diary_title");
    var contents = document.getElementById("diary_title");

    //empty string which will contain updated information to pass into the ttle and contents field
    var currentTitle = "";
    var currentContents = "";

    // function for when user clicks on the button to trigger a onclick event,
    // where fields get updated to the current data
    function currentDiaryValues() {
      //get current title input and change the value uploaded to the server to the current content
      currentTitle = title.value;
      title.innerHTML = currentTitle;

      //get current content input and change the value uploaded to the server to the current content
      currentContents = contents.value;
      contents.innerHTML = currentContents;
    }
  </script>
</html>
