/* *{
  margin: 0;
} */

/* mainBlog.ejs file style */
.mainBlog_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  align-items: center;
  overflow-x: hidden;
  background-color: rgb(99 48 48);
}

.mainBlog_body h1 {
  font-size: 35px;
  color: white;
}

.navbar_main {
  display: flex;
  gap: 30px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.navbar_main a {
  text-decoration: none;
  color: rgb(223 161 161);
}

.navbar_main a.active {
  text-decoration: underline;
}

.links_decoration {
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

/* aboutBlog.ejs file style */
.aboutBlog_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  overflow-x: hidden;
  background-color: rgb(99 48 48);
}

.aboutBlog_body h1 {
  font-size: 35px;
  color: white;
}

.aboutBlog_contents {
  padding-left: 150px;
  padding-right: 150px;
}

.aboutBlog_desc {
  padding-bottom: 10px;
}

.create_btn {
  border: 1px solid black;
  border-radius: 40px;
  background-color: rgb(101 173 56);
  padding: 10px;
  font-size: large;
  text-decoration: none;
  color: black;
}

/* myBlog.ejs file style */
.myBlog_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  align-items: center;
  overflow-x: hidden;
  background-color: rgb(99 48 48);
}

.myBlog_body h1 {
  font-size: 35px;
  color: white;
}

.edit_delete_btn {
  display: flex;
  gap: 10px;
}

.edit_delete_btn button {
  padding: 5px;
  background-color: rgba(213, 166, 166, 1);
}

.edit_link {
  text-decoration: none;
  color: black;
}

.delete_link {
  text-decoration: none;
  color: black;
}

/* createBlog.ejs file style */
.createBlog_body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-between;
}

.navbar_createBlog {
  display: flex;
  gap: 15px;
}

.navbar_createBlog a {
  text-decoration: none;
  color: black;
}

.navbar_createBlog li i {
  margin-right: 10px;
}

.createBlog_details {
  padding-bottom: 2%;
}

.createBlog_details > h1 {
  padding-bottom: 3%;
}

.create_blog_layout {
  margin: auto;
  background-color: rgba(234, 234, 234, 1);
  width: 100%;
}

.create_blog_form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 35px;
  gap: 20px;
}

/* singleBlog.ejs file style */
.singleBlog_body {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-between;
  font-family: "Inter";
}

.singleBlog_navbar {
  display: flex;
  gap: 10px;
}

.singleBlog_navbar a {
  text-decoration: none;
  color: black;
}

.singleBlog_contents {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 20px;
}

.single_image {
  width: 80%;
}

/* updateBlog.ejs file style */
.updateBlog_body {
  display: flex;
  flex-direction: column;
  padding: 2.5% 5%;
  justify-content: space-between;
  font-family: "Inter";
}

.updateBlog_navbar {
  display: flex;
  gap: 10px;
}

.updateBlog_navbar a {
  text-decoration: none;
  color: black;
}

.updateBlog_details {
  padding-bottom: 2%;
}

.updateBlog_details > h1 {
  padding-bottom: 3%;
}

.updateBlog_layout {
  margin: auto;
  background-color: rgba(234, 234, 234, 1);
  width: 100%;
  border-radius: 6px;
}

.update_blog_form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 35px;
  gap: 20px;
}

.update_btn {
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: rgba(185, 242, 149, 1);
  padding: 10px;
  font-size: large;
  text-decoration: none;
  color: black;
}

/* card styling */
.grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.grid-container-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2%;
  height: 250px;
  max-height: 250px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(139 69 69);
  text-align: start;
  padding: 10px;
}

.blog_card_image {
  width: 100%;
  height: 60%;
  border-radius: 5px;
  border: 1px solid black;
}

/* styling of create and update blog inputs & buttons */
#diary_title {
  border-radius: 8px;
  border: 0.5px solid #ccc;
  font-family: "Inter";
  padding: 15px;
  font-size: medium;
  resize: none;
}

#diary_content {
  border-radius: 8px;
  border: 0.5px solid #ccc;
  font-family: "Inter";
  padding: 15px;
  font-size: medium;
  resize: none;
}

.attach_img {
  /* display: none; */
  display: flex;
  gap: 5px;
  border-radius: 8px;
  border: 0.5px solid #ccc;
  font-family: "Inter";
  padding: 15px;
  font-size: medium;
  background-color: white;
  resize: none;
  cursor: pointer;
  color: grey;
}

#diary_image {
  
  display: none;
}

.submit_btn {
  display: flex;
  justify-content: flex-end;
}
